
.carousel{
  background-color:whitesmoke;
  overflow: hidden;
  cursor: grab;
}
.inner-carousel{
  display: flex;
  align-items: center;
  
  
}
.slider {

  width: 300px;
  height: 430px;
  pointer-events: none;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.item {
  min-height: 25rem;
  min-width: 20rem;
  padding: 40px 20px;
}
